<!DOCTYPE html>

<html>
    <head>
        <title>backbone_moarionette_template</title>
        <link rel="stylesheet"  media="screen" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet"  media="screen" href="./styles/main.css">
        <meta charset="UTF-8">
    </head>
    <body>
      <div id="header"></div>
      <div id="main"></div>

      <script id="header_view" type="text/template">
        <nav id="header" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a href="#" class="navbar-brand" id="top_link">Backbone Moarionette Sample</a>
            </div>
          </div>
        </nav>
      </script>

      <script id="main_view" type="text/template">
        <div class="container">
          <div class="row">
            <div id="side_menu" class="col-sm-3">
            </div>
            <div id="main_content" class="col-sm-9">
            </div>
          </div>
        </div>
      </script>

      <script id="index_user_view" type="text/template">
        <div class="panel panel-info">
          <div class="panel-heading">ユーザ一覧</div>
          <ul id="user_list" class="list-group"></ul>
        </div>
      </script>

      <script id="user_view" type="text/template">
        <%- name %>
      </script>

      <script id="show_user_view" type="text/template">
        <div class="panel panel-success">
          <div class="panel-heading"><%- name %></div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>ID</dt>
              <dd><%- id %></dd>
              <dt>名前</dt>
              <dd><%- name %></dd>
              <dt>ポジション</dt>
              <dd><%- posision %></dd>
            </dl>
          </div>
        </div>
      </script>

      <script src="scripts/app.js"></script>
    </body>
</html>
